.grid {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;   
}

.grid img {
    width: 100%;
}

.skate {
    width: 50%;
}
.banner-promocao {
    padding: 0;
    display: block;
}

.top-banners, .bottom-banners{
    display: flex;
    gap: 8px;
}

a {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a p {
    font-size: 14px;
    font-weight: 300;
    
}




